parameters:
	ignoreErrors:
		-
			message: "#^Property Monolog\\\\ErrorHandler\\:\\:\\$reservedMemory is never read, only written\\.$#"
			count: 1
			path: src/Monolog/ErrorHandler.php

		-
			message: "#^Return type \\(array\\<array\\|bool\\|float\\|int\\|object\\|string\\|null\\>\\|bool\\|float\\|int\\|object\\|string\\|null\\) of method Monolog\\\\Formatter\\\\JsonFormatter\\:\\:normalize\\(\\) should be covariant with return type \\(array\\<array\\|bool\\|float\\|int\\|string\\|null\\>\\|bool\\|float\\|int\\|string\\|null\\) of method Monolog\\\\Formatter\\\\NormalizerFormatter\\:\\:normalize\\(\\)$#"
			count: 1
			path: src/Monolog/Formatter/JsonFormatter.php

		-
			message: "#^Return type \\(array\\<array\\|bool\\|float\\|int\\|string\\|null\\>\\|bool\\|float\\|int\\|object\\|string\\|null\\) of method Monolog\\\\Formatter\\\\WildfireFormatter\\:\\:normalize\\(\\) should be covariant with return type \\(array\\<array\\|bool\\|float\\|int\\|string\\|null\\>\\|bool\\|float\\|int\\|string\\|null\\) of method Monolog\\\\Formatter\\\\NormalizerFormatter\\:\\:normalize\\(\\)$#"
			count: 1
			path: src/Monolog/Formatter/WildfireFormatter.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: src/Monolog/Handler/FingersCrossedHandler.php

		-
			message: "#^Call to method setBody\\(\\) on an unknown class Swift_Message\\.$#"
			count: 1
			path: src/Monolog/Handler/MandrillHandler.php

		-
			message: "#^Call to method setDate\\(\\) on an unknown class Swift_Message\\.$#"
			count: 1
			path: src/Monolog/Handler/MandrillHandler.php

		-
			message: "#^Class Swift_Message not found\\.$#"
			count: 2
			path: src/Monolog/Handler/MandrillHandler.php

		-
			message: "#^Cloning object of an unknown class Swift_Message\\.$#"
			count: 1
			path: src/Monolog/Handler/MandrillHandler.php

		-
			message: "#^Parameter \\$message of method Monolog\\\\Handler\\\\MandrillHandler\\:\\:__construct\\(\\) has invalid type Swift_Message\\.$#"
			count: 3
			path: src/Monolog/Handler/MandrillHandler.php

		-
			message: "#^Property Monolog\\\\Handler\\\\MandrillHandler\\:\\:\\$message has unknown class Swift_Message as its type\\.$#"
			count: 1
			path: src/Monolog/Handler/MandrillHandler.php

		-
			message: "#^Variable property access on \\$this\\(Monolog\\\\LogRecord\\)\\.$#"
			count: 4
			path: src/Monolog/LogRecord.php

		-
			message: "#^Cannot assign offset Fiber to WeakMap\\<Fiber\\<mixed, mixed, mixed, mixed\\>, int\\>\\.$#"
			count: 1
			path: src/Monolog/Logger.php

		-
			message: "#^Only numeric types are allowed in post\\-decrement, int\\|null given\\.$#"
			count: 1
			path: src/Monolog/Logger.php

		-
			message: "#^Parameter \\#1 \\$level \\('alert'\\|'critical'\\|'debug'\\|'emergency'\\|'error'\\|'info'\\|'notice'\\|'warning'\\|Monolog\\\\Level\\) of method Monolog\\\\Logger\\:\\:log\\(\\) should be contravariant with parameter \\$level \\(mixed\\) of method Psr\\\\Log\\\\LoggerInterface\\:\\:log\\(\\)$#"
			count: 1
			path: src/Monolog/Logger.php

		-
			message: "#^Variable property access on \\$this\\(Monolog\\\\Logger\\)\\.$#"
			count: 1
			path: src/Monolog/Logger.php

		-
			message: "#^Parameter \\#1 \\$length of function random_bytes expects int\\<1, max\\>, int given\\.$#"
			count: 1
			path: src/Monolog/Processor/UidProcessor.php
